{% extends 'MirrorWebBundle:Base:base.html.twig' %}
{% block title %}报表列表{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/orderList.css',null,false,version) }}">
{% endblock %}
{% block body %}
    <div id="container">
        <div class="goodsListFilter">
            <span>产品价格</span><span>下单时间</span>
        </div>
        <div class="goodsListCon">
            <ul>
                <li><span>
                    <img src="{{ asset('/bundles/mirrorweb/images/LOGO.png',null,false,version) }}" alt="">
                </span>
                    <div class="priceTitle">
                        <p>HPV自检套装</p>
                        <span class="downOrderTime">2017-12-12</span>
                        <span>￥399</span>
                    </div>

                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block script %}

{% endblock  %}