{% extends 'MirrorWebBundle:Base:base.html.twig' %}
{% block title %}选择地址{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/selectAddr.css') }}">
{% endblock %}
{% block body %}
    <div id="container">
        <div class="selectAddrBox">

        </div>
    </div>
{% endblock %}
