/* common style */

html,
body,
.page,
.wrap {
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.page {
    background: url('./bg.png');
    background-size: cover;
}

.page .wrap {
    background: rgba(0, 0, 0, 0.2);
    font-size: 0.7rem;
}

.page header {
    padding: 2rem 0;
}

.page header img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.page .wrap .pannel {
    width: 80%;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
}

.page .radio-group {
    display: flex;
}

.page .radio-group label {
    padding-left: 0.25rem;
    margin: 0;
}

.page .radio-group>div {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}


/* page 1 */

#page1 label {
    display: flex;
    align-items: center;
}

#page1 label input {
    margin: 0;
    margin-right: 0.5rem;
}

#page1 .basic {
    background: rgba(0, 0, 0, 0.3);
    padding: 0 0.75rem 0.5rem;
    color: white;
}

#page1 .basic>div {
    padding: 0.5rem 0;
    border-bottom: 1px solid #b6b4b4;
    display: flex;
}

#page1 .basic>div>label {
    color: #ffffff;
    font-size: 16px;
    width: 20%;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
}

#page1 .basic>div>label:after {
    content: ":";
    padding-right: 0.25rem;
}

#page1 .basic>div>input {
    background: none;
    flex: 1;
    border: none;
    outline: none;
    color: white;
}

#page1 .ability {
    background: rgba(255, 255, 255, 0.65);
    padding: 0.5rem 2.5rem;
}

#page1 .info {
    background: rgba(111, 190, 185, 0.6);
    padding: 0.5rem;
    text-align: center;
}

#page1 .info button {
    display: block;
    width: 100%;
    color: white;
    font-size: 0.6rem;
    line-height: 0.8rem;
}

#page1 .info #now {
    padding-right: 1rem;
}


/* page 2 */
#page2{
    display: none;
}

#page2 h4 {
    background: rgba(255, 255, 255, 0.65);
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 0;
}

#page2 .address {
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

#page2 span {
    display: block;
    color: white;
    font-size: 0.9rem;
    line-height: 1.6rem;
}

#page2 .note {
    background: rgba(255, 255, 255, 0.65);
    font-size: 0.7rem;
    padding: 0.5rem;
}