htm,body,#container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}
.topContentBox{
    background-image: url("../images/index2TopBg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 36%;
    position: absolute;
    top:0;
    overflow: hidden;
}
.topContent .logo{
    width: 3.34rem;
    height: 1.29rem;
    margin-top: .4rem;
    margin-left: 2.7rem;
}
.topContent .logo img{
    width: 100%;
    height: 100%;
}
.sologen{
    margin-top:.2rem;
    margin-left: 2.6rem;
    color: #fff;
    font-size: .12rem;
    width: 3.34rem;
    height: 1.29rem;
    text-align: center;
    padding-left: .6rem;
}
.sologen p{
    margin-bottom: 0;
    line-height: 1.6em;
}
.sologen span{
    margin-right:.2rem;
    display: inline-block;
}
.sologen span:nth-child(2n){
    margin-right: 0.36rem;
}
.sologen span:nth-child(3){
    margin-right:.4rem;
}
.mainContentBox{
    width: 100%;
    background-color: #fff;
    height: 40%;
    transform: skewY(-15deg);
    z-index: 2;
    position: absolute;
    top:28%;
    overflow: hidden;
}
.mainContentBox .buyTitle,.mainContentBox p{
    transform: skewY(15deg);
}
.mainContentBox .buyTitle{
    margin-top:1.1rem;
    margin-left: 1.4rem;
}
.mainContentBox .buyTitle span{
    font-size: .32rem;
}
.mainContentBox .buyTitle span:nth-child(3){
    background-color: #83e3e0;
    padding: 0.1rem 0.2rem;
    border-radius: .3rem;
    margin-left: .1rem;
}
.mainContentBox p{
    font-size: .12rem;
    margin: .3rem .5rem 0;
    line-height: .36rem;
    display: inline-block;
}
.mainContentBox hr{
    position: absolute;
    left: 2rem;
    bottom: .3rem;
    width: 3rem;
    border: 1px solid #9fe9e7;
    margin-bottom: 0;
}
.phoneImg{
        width: 1.5rem;
    height: 2.1rem;
    position: absolute;
    right: .4rem;
        top: 3.5rem;
    z-index: 99;
}
.phoneImg img{
    width: 100%;
    height: 100%;
}
.bottmContentBox{
    background-image: url(../images/index2BottomBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 40%;
    z-index: 1;
    color: #fff;
    padding-top: 3.4rem;
    font-size: .12rem;
    line-height: .2rem;
    padding-left:.6rem;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    display: inline-block;
}
.bottmContentBox img{
    position: absolute;
    right: .67rem;
    bottom: .25rem;
    width: .92rem;
    height: .92rem;
}
a.logout{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    position: absolute;
    z-index: 99;
    color: #333;
    transform: rotate(45deg);
    right: -1.2rem;
    top: -1.2rem;
    line-height: 3.4rem;
    text-align: center;
    text-decoration: none;
}