htm,body,#container{
    width: 100%;
    overflow: hidden;
    display: inline-block;
    background-color: rgb(186, 186, 188);
}
header{
    width: 100%;
    overflow: hidden;
    background-color: rgb(250,250,251);
}
.top{
    box-sizing: border-box;
    padding: .4rem;
    margin:0 .4rem;
    display: inline-block;
    border-bottom: 0.01rem solid #6e6e6e;
}

.top-left{
    width: 2.45rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: top;
    margin-right:.6rem;
}
.top-left img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.top-right{
    display: inline-block;
    vertical-align: top;
}
.top-right .orderInfo span{
    display: inline-block;
    font-size: .32rem;

}
.top-right .orderInfo span:first-child{
    font-size: .36rem;
    margin-right:.4rem;
    display: inline-block;
    width: 2rem;
}
.top-right .orderInfo span:last-child{
    font-size: .42rem;
}
.tabs{
    text-align: center;
}
.tabs ul{
    margin:0;
    display:-webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    width: 100%;
    padding: .2rem 2rem;
}
.tabs ul li{
    display: inline-block;
    list-style: none;
    font-size: .4rem;
}
.tabs ul li.active{
    color: #3bc3bb;
}
.orderList ul{
    margin: 0;
    padding: 0;
}
.orderList ul li{
    list-style: none;
    margin: .4rem;
    background-color: rgb(250,250,251);
    padding: .2rem;
    box-sizing: border-box;
    border-radius: .3rem;
}
.orderList ul li h3{
    border-bottom: 0.01rem solid #6e6e6e;
    margin: 0 .2rem;
    margin-bottom:.2rem;
    padding-bottom:.2rem;
}
.orderList ul li h3 span:first-child{
    font-size: .4rem;
    display: inline-block;
    width: 5rem;

}
.orderList ul li h3 span:last-child{
    font-size: .2rem;
    display: inline-block;
    color: #3bc3bb;
}
.orderListInfo{
    padding: 0 .2rem;
}
.orderListInfo .orderListInfoItem span{
    display: inline-block;
    vertical-align: top;
}
.orderListInfo .orderListInfoItem span:first-child{
    width: 2rem;
}
span.orderItemTime {
    display: inline-block;
    width: 2.8rem;
}
.viewTable{
    color: #a7e2df;
    font-size: .16rem;
    display: inline-block;
}