*{
    padding: 0;
    margin: 0;
}
#container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.orderNumBox {
    padding-left: .2rem;
    font-size: .3rem;
    margin-top: .2rem;
}
.orderNum{
    font-weight: bold;
    color: #999;
    font-size: .36rem;
    padding: .2rem;


}
.userAddr,.input-box{
    border-bottom: 1px solid #DDD;
    padding: 0 .2rem;
    font-size:.28rem ;
    color: #999;
    width: 100%;
    overflow: hidden;
    height: 1rem;
}
.userAddr{
    padding-top: .4rem;
    font-size: .3rem;
    box-sizing: border-box;
}
.userAddr:before{
    content: '';
    background-image: url("../images/addrIco.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: .32rem .32rem;
    width: .32rem;
    height: .32rem;
    display: inline-block;
}
.input-box:before{
    content: '';
    background-image: url("../images/addrIco.png");
    background-repeat: no-repeat;
    background-position: left 0.5rem;
    width: .65rem;
    height: 100%;
    display: inline-block;
}
.nameIco:before{
    background-image: url("../images/nameIco.png");
    background-size: .59rem .37rem;
}
.ageIco:before{
    background-image: url("../images/ageIco.png");
    background-size: .61rem .37rem;

}
.marriageIco:before{
    background-image: url("../images/marriageIco.png");
    background-size: .51rem .51rem;
    background-position: left 0.4rem;
}
.input-box input{
    width: 89%;
    border: none;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding-top: .4rem;
    font-size: .3rem;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0);
}
.input-box input:focus,.input-box input:active,.input-box input:visited{
    border: none;
    outline-style: none;
}
.input-box input::-webkit-input-placeholder{
    vertical-align: bottom;
}
.productName{
    color: #666;
    font-size: .38rem;
    padding-left: .2rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}
.productNumAndPrice{
    margin-top:.2rem;
    margin-right:.2rem;
}
.productNumAndPrice ul li{
    list-style: none;
    text-align: right;
}
.productNumAndPrice ul li:first-child{
    color: #666;
    font-size: .36rem;
}
.productNumAndPrice ul li span:last-child{
    color: #E00;
}
.payType{
    width: 100%;
    line-height: 1rem;
    background-color: #EEE;
    font-size: .28rem;
    padding-left: .2rem;
    margin-bottom:.3rem;
}
.payTypeSelect ul li span:first-child{
    display: inline-block;
    vertical-align: middle;
    margin-left:.2rem;
}
.payTypeSelect ul li img{
    width: .8rem;
    height: .8rem;
    margin-right:.3rem;
}
.payAppInfo{
    display: inline-block;
    width: 5rem;
    vertical-align: middle;
}
.goodsInfoBuyButton{
    width: 100%;
    padding: .1rem .2rem;
    position: fixed;
    bottom: .2rem;
}
.goodsInfoBuyButton span:first-child{
    color: #000;
    font-size:.28rem;
    margin-right:1.5rem;
}
.goodsInfoBuyButton  a{
    color: #666666;
}
.goodsInfoBuyButton span:nth-child(3){
    margin-right:.2rem;
    font-size: .36rem;
    display: inline-block;
    vertical-align: middle;
    color: #E00;
}
.goodsInfoBuyButton button{
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
    background-color: #fc4f73;
    color: #fff;
}
.top-bg{
    background-image: url("../images/500717465.png");
    background-size: 100% 185%;
    background-repeat: no-repeat;
}