html,body{ width: 100%; height: 100%; color: #333; line-height: 1.5; overflow-x: hidden; overflow-y: auto; background: #FFF;}
@media screen and (max-width:359px){ html{ font-size: 16px;} body,button,input,select,textarea{ font-size: 12px;}}
@media screen and (min-width:360px) and (max-width:410px){ html{ font-size: 18px;} body,button,input,select,textarea{ font-size: 13px;}}
@media screen and (min-width:411px) and (max-width:434px){ html{ font-size: 20px;} body,button,input,select,textarea{ font-size: 14px;}}
@media screen and (min-width:435px) and (max-width:767px){ html{ font-size: 21px;} body,button,input,select,textarea{ font-size: 15px;}}
@media screen and (min-width:768px){ html{ font-size: 38px;} body,button,input,select,textarea{ font-size: 20px;}}
body{color: #333;}
h1,h2,h3,h4,h5,h6,p,ul,li,input,button{ padding: 0; margin: 0; border:0;}
h1{ font-size: 3em;}
h2{ font-size: 2em;}
h3{ font-size: 1.5em;}
h4{ font-size: 1.3em;}
h5{ font-size: 1.2em;}
h6{ font-size: 1.1em;}
ul,ol{ list-style: none; padding: 0; margin: 0;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0); color: #333;}
button,input,select{ border: 0; outline: 0; padding: 0; margin: 0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.fl,.fr{display:inline;}
.fl{float:left;}
.fr{float:right;}
.fc{clear:both;}
.fwb{ font-weight: bold;}
.tc{text-align:center;}
.tr{text-align:right;}
.posa{ position: absolute;}
.posr{ position: relative;}
.posf{ position: fixed;}
.dib{ display: inline-block;}
.db{ display: block;}
.d-box{ display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;}
.boxz{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.tov{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

.t-gray9{ color: #999;}
.t-gray9-order{ color: #999;font-size: 1.2em;}
.t-gray6{ color: #666;}
.t-pink{ color: #fc4f73;}
.t-red{ color: #E00;}
.t-hid{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.login{ background: url(../images/bg01.jpg) no-repeat 0 0/100% auto,url(../images/bg02.jpg) no-repeat 0 80%/100% auto; background-color: #ffe2e2;}
.login section{ margin-top: 45%;}
.form-wrap{ width: 17rem; margin: 0 auto; padding: 1rem 0; font-size: 1.2em;}
.form-row{ line-height: 2rem; width: 13.5rem; margin: 1rem auto;}
.form-row .boxz{ width: 13.5rem; height: .3rem; margin-top: 1.7rem; border: 1px solid #F81C5F; border-top: 0;}
.form-row .boxz1{ width: 13.5rem; height: .3rem; margin-top: 1.7rem; }
.form-row input,.form-row select{ background: none; width: 96%; height: 2rem; padding: 0 2%; margin-top: -1.7rem; float: left;}
.form-row select{ color: #999;}
.form-row:nth-of-type(2) .boxz{ width: 8rem; margin-right: .5rem;}

.btn-yz{ width: 5rem; background: #F81C5F; color: #FFF; text-align: center; font-size: .8rem;}
.btn-bm{ display: inline-block; margin-top: 1rem; padding: .5rem 1.5rem; border-radius: 10px; color: #FFF;
		 background:-moz-linear-gradient(top,#eb2c72,#b578e0);/*火狐*/ 
		 background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#eb2c72),to(#b578e0));/*谷歌*/ 
		 background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#eb2c72),to(#b578e0));      /* Safari 4-5, Chrome 1-9*/
		 background: -webkit-linear-gradient(top,#eb2c72,#b578e0);   /*Safari5.1 Chrome 10+*/
		 background: -o-linear-gradient(top,#eb2c72,#b578e0);  /*Opera 11.10+*/}

.slideBox{ position:relative; overflow:hidden; margin:0 auto;}
.slideBox .hd{ position:absolute; height:28px; line-height:28px; bottom:0; right:0; z-index:1; }
.slideBox .hd li{ display:inline-block; width:6px; height:6px; -webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%; background:#fc4f73; text-indent:-9999px; overflow:hidden; margin-right: 10px;   }
.slideBox .hd li.on{ background: #dc0000;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(../images/loading.gif) center center no-repeat;  vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */}
.btn{ display: inline-block; height: 2rem; line-height: 2rem; padding: 0 .5rem; text-align: center; font-size: 1.2em; color: #FFF; background: #fc4f73; border-radius: .2rem;}
.btn-blue{ background: #51b6ea;}
.icon-phone{ display: inline-block; vertical-align: middle; width: 1rem; height: 1rem; background: url(../images/icon_phone.png) no-repeat center center/auto 80%; margin-top: -2px; margin-right: .2rem;}
.index-btns{ padding: .5rem;}
.index-btns .btn-pink{ padding: 0 .8rem;}
.flow{ padding: 1rem 0;}
.block-pink{ padding: 1rem; background: #ffe2e2;}
.index-txt01{ color: #fc4f73; font-size: 1.1em; text-align: center; margin-bottom: .5rem;}
.index-txt01 p:nth-of-type(1){ font-size: 1.4em;}
.index-txt01 p:nth-of-type(1) strong{ font-size: 1.3em;}
.index-txt01 p:nth-of-type(2){ font-size: 1.2em; margin-top: -.5rem;}
.index-txt01 p:nth-of-type(2) strong{ font-size: 1.5em;}
/*.index-txt01 p:nth-of-type(3){ font-size: 1.1em;}*/
.index-txt{ font-size: 1.2em;}
.index-txt span.t-pink{ font-size: 1.2em;}
.index-txt02 p.t-pink{ font-size: 2em; text-indent: .5em;}
.index-tit{ width: 12em; height: 2rem; line-height: 2rem; text-align: center; color: #FFF; background: #fc4f73; font-size: 1.2em; border-radius: 1rem; margin: 1rem auto .5rem;}
.index-txt03{ margin-bottom: .5rem;}
.index-txt04{ margin: .5rem auto;}
.index-txt06{ margin-bottom: .5rem;}
.index-txt07{ margin-bottom: .5rem;}
.index-txt07 span.t-pink{ font-weight: bold;}
.index-txt07 span.t-pink:nth-of-type(1){ font-size: 1.5em;}
.index-ol{ font-size: 1.1em; line-height: 1.5rem;}
.index-ol li{ margin-bottom: .5rem; position: relative; padding-left: 2rem;}
.index-ol li span{ display: inline-block; vertical-align: middle; color: #FFF; background: #fc4f73; width: 1.2rem; height: 1.2rem; line-height: 1.2rem; text-align: center; margin-left: -1.7rem; margin-right: .5rem; border-radius: 100%;}
.block-white{ padding: 1rem;}
.popwrap{ padding: .5rem 2rem;}
.popbox{ width: 6rem; height: 6rem; color: #fc4f73; background: #ffe2e2; border-radius: 100%; font-size: 1.2em;}
.index-ul{ font-size: 1.1em;}
.index-ul li{ padding-left: 1rem; margin-bottom: .5rem;}
.index-ul li:before{ content: ""; display: inline-block; vertical-align: middle; width: .5rem; height: .5rem; border-radius: 100%; background: #fc4f73; margin-left: -1rem; margin-right: .5rem; margin-top: -2px;}

.pay-footer{ position: absolute; z-index: 10; left: 0; bottom: 0; width: 100%; height: 2.5rem; line-height: 2.5rem; background: #FFF; font-size: 1.1em; overflow: hidden;}
.pay-footer .fl{ margin-left: .5rem;}
.pay-footer .fr{ margin-right: .5rem; margin-top: -.15rem;}
.pay-footer .fr b{ font-size: 1.5em; font-weight: normal;}
.pay-footer .fr .btn{ font-size: 1.1em; margin-left: .3rem; width: 4em;}

.page-pay h1{ font-size: 1.4em; font-weight: normal; position: relative; padding-right: 2rem; margin-bottom: .5rem;}
.pay-wrap>.fl b{ font-size: 1.5em; font-weight: normal;}
.pay-wrap>.fr{ margin-right: -.5rem;}
.pay-count{ font-size: 1.3em;}
.pay-count-minus,.pay-count-plus{ width: 2rem; height: 2rem; line-height: 2rem; text-align: center;}
.pay-count-main{ width: 3rem; height: 2rem; line-height: 2rem; text-align: center; outline: 1px solid #EEE;}
.pay-count-label{ width: 3rem; height: 2rem; line-height: 2rem; text-align: right; font-size: .8em; color:#999}
.block-gray{ padding: .5rem 1rem; background: #EEE;}
.block-gray-order{ padding: .5rem 1rem; background: #FFF; font-size: 1.1em;}
.block-code{ background: #EEE; position: relative; padding-left: 2.5rem; font-size: 0;}
.block-code-label{ position: relative; padding-left: 1rem; color:#999}
.icon-code{ display: inline-block; vertical-align: middle; width: 2.5rem; height: 2.5rem; margin-left: -2.5rem; background: url(../images/icon_code.png) no-repeat center center/auto 40%;}
.txt-code{ vertical-align: middle; width: 100%; height: 2.5rem; line-height: 2.5rem; font-size: .8rem; background: none;}
.pay-h1-count{ position: absolute; top: -.3em; right: 0; font-size: .8em;}
.pay-h1-count b{ font-size: 1.5em; font-weight: normal;}
.pay-address{ border-bottom: 1px solid #DDD; padding-left: 2.5rem;}
.icon-location{ display: inline-block; vertical-align: middle; width: 1rem; height: 1rem; margin-right: .5rem; margin-left: -1.5rem; background: url(../images/icon_location.png) no-repeat center center/90% auto;}
.pay-choose-list{ overflow: hidden;}
.pay-choose-list li{ position: relative; padding: 1rem; border-top: 1px solid #EEE; margin-top: -1px;}
.pay-choose-list li b{ width: 2.4rem; height: 2.4rem; margin-right: .5rem;}
.pay-choose-list li h6{ font-size: 1.2em;}
.icon-wx{ background: url(../images/icon_wx.png) no-repeat center center/100% auto;}
.icon-zfb{ background: url(../images/icon_zfb.png) no-repeat center center/100% auto;}
.pay-choose-list li .ckb{ position: absolute; right: 1rem; top: 50%; width: 1rem; height: 1rem; border-radius: 100%; margin-top: -.5rem; background: url(../images/ckb.png) no-repeat center center/60% auto; background-color: #EEE;}
.pay-choose-list li .ckb.on{ background-color: #6cc143;}

.page-pay-ok{ position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
.page-pay-ok-inner>div:nth-of-type(1){ margin-bottom: .5rem; margin-top: -2rem;}
.page-pay-ok-inner>div:nth-of-type(2){ margin-bottom: .5rem; font-size: 1.2em;}
.page-pay-ok-inner>div:nth-of-type(2) span{ font-size: 1.5em;}
.page-pay-ok-inner>div:nth-of-type(3){ margin-bottom: 1rem;}

.address-list{ overflow: hidden;}
.address-list li{ padding: 0.5rem 3rem 0.5rem 1rem; line-height: 1.5rem; border-bottom: 1px solid #EEE;/* margin-top: -1px;*/ font-size: 1.2em;}
.address-shen,.address-shi,.address-xian{ background: url(../images/arrow_r_g.png) no-repeat 95% center/auto 30%;}
.address-list .addrass-detail{ padding: .1rem .5rem;}
.addrass-detail textarea{ font-size: 1em; width: 100%; height: 3rem; line-height: 1.5; padding: 0; border: 0; resize: none;}
.addrass-detail input{ font-size: 1em; padding: 0; border: 0; height:2em}

.out-page{ position: absolute; z-index: 100; left: 100%; top: 0; width: 100%; height: 100%; background: #FFF; -webkit-transition: all .3s; transition: all .3s;}
.out-header{ position: absolute; left: 0; top: 0; width: 100%; height: 2.5rem; line-height: 2.5rem; border-bottom: 1px solid #EEE; background: #FFF;}
.out-header b{ width: 2rem; height: 2.5rem; overflow: hidden; text-indent: -9999px; background: url(../images/arrow_r_g.png) no-repeat 40% center/auto 30%; -webkit-transform: rotate(180deg); transform: rotate(180deg); opacity: .6;}
.out-header h3{ font-size: 1.1em; color: #999; font-weight: normal;}
.out-body{ position: absolute; left: 0; top: 2.5rem; bottom: 0; width: 100%; overflow-x: hidden; overflow-y: auto;}
.out-address-list{ overflow: hidden;}
.out-address-list li{ margin-top: -1px; border-top: 1px solid #EEE; padding: 0 2rem; height: 2.5rem; line-height: 2.5rem; font-size: 1.2em;}
.out-address-list li.on{ background: #fc4f73; color: #FFF;}

.order-list{ overflow: hidden;}
.order-list li{ border-top: 1px solid #EEE; margin-top: -1px; padding: .5rem 1rem 1rem;}
.order-header{ margin-bottom: .5rem;}
.order-time{ margin-left: 1rem;}
.order-info{ position: relative; padding-right: 3rem; font-size: 0;}
.order-img,.order-tit{ display: inline-block; vertical-align: middle;}
.order-img{ position: relative; width: 30%; height: 0; padding-bottom: 20%;}
.order-img img{ position: absolute; width: 100%; height: 100%;}
.order-tit{ width: 60%; margin-left: 5%; font-size: .9rem; font-weight: normal;}
.icon-order-state{ position: absolute; right: .5rem; top: 50%; margin-top: -1rem; width: 2rem; height: 2rem; background: url(../images/icon_order_no.png) no-repeat center center/100% auto;}
.icon-order-state.on{ background-image: url(../images/icon_order_ok.png);}
.direction-tit{ padding: .5rem 1rem; margin-top: 1rem;}
.direction-tit .d-box{ width: 2rem; height: 2rem; background: #fc4f73; color: #FFF; border-radius: 100%; text-align: center;}
.direction-tit .d-box em{ transform: scale(0.7); margin: -.4rem 0 0 -.1rem;}
.direction-tit .d-box b{ display: block; font-size: 2em;}
.direction-tit .d-box span{ display: block; margin-top: -.5rem;}
.direction-tit h2{ font-size: 1.3em; line-height: 2rem; margin-left: .5rem;}
.inquiry-tit{ font-size: 1.1em; font-weight: normal; padding: .5rem 1rem; margin-top: .5rem; text-indent: -3.5em; padding-left: 4.5em;}
.inquiry-tit+div{ margin-bottom: 2rem;}

.video-block{ position: relative; height: 0; padding-bottom: 57%; background: #000;}
.video-inner{ position: absolute; width: 100%; height: 100%;}
.direction-guide{ font-size: 1.1em; padding: 1rem 0;}
.direction-guide h1{ font-size: 1.4em;}
.direction-guide h2{ font-size: 1.1em; padding: 0 1rem; margin-bottom: .5rem; margin-top: 1rem;}
.direction-guide-content{ padding-left: 1.6rem; padding-right: 1.6rem;}
.direction-guide-content ol li{ padding-left: 1.5em; text-indent: -1.5em; margin-bottom: .2rem;}
.block-pink .direction-guide-content{ padding-left: .6rem; padding-right: .6rem;}
.block-pink h5{ font-size: 1em; margin-bottom: .5rem;}
.direction-guide-content ol+div.t-red{ padding-left: 1.5em;}
.direction-guide-content .step-list li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step01.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list li:nth-of-type(2){ background-image: url(../images/step02.png);}
.direction-guide-content .step-list li:nth-of-type(3){ background-image: url(../images/step03.png);}
.direction-guide-content .step-list li:nth-of-type(4){ background-image: url(../images/step04.png);}

/*hardback*/
.direction-guide-content .step-list11 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list1-00.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list11 li:nth-of-type(2){ background-image: url(../images/step-list1-02.png);}
.direction-guide-content .step-list11 li:nth-of-type(3){ background-image: url(../images/step-list4-01.png);}
.direction-guide-content .step-list11 li:nth-of-type(4){ background-image: url(../images/step-list1-03.png);}

.direction-guide-content .step-list22 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list2-00.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list22 li:nth-of-type(2){ background-image: url(../images/step-list2-01.png);}
.direction-guide-content .step-list22 li:nth-of-type(3){ background-image: url(../images/step-list2-02.png);}
.direction-guide-content .step-list22 li:nth-of-type(4){ background-image: url(../images/step-list2-03.png);}
.direction-guide-content .step-list22 li:nth-of-type(5){ background-image: url(../images/step-list2-04.png);}
.direction-guide-content .step-list22 li:nth-of-type(6){ background-image: url(../images/step-list2-05.png);}
.direction-guide-content .step-list22 li:nth-of-type(7){ background-image: url(../images/step-list2-06.png);}
.direction-guide-content .step-list22 li:nth-of-type(8){ background-image: url(../images/step-list2-00.png);}

.direction-guide-content .step-list33 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list3-00.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list33 li:nth-of-type(2){ background-image: url(../images/step-list4-01.png);}

.direction-guide-content .step-list44 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list4-02.png) no-repeat 0 0/30% auto;}

/*alcohol*/
.direction-guide-content .step-list111 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list4-01.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list111 li:nth-of-type(2){ background-image: url(../images/pro_alcohol.png);}
.direction-guide-content .step-list111 li:nth-of-type(3){ background-image: url(../images/mouth_alcohol.png);}
.direction-guide-content .step-list111 li:nth-of-type(4){ background-image: url(../images/pro_alcohol.png);}

.direction-guide-content .step-list222 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list3-00.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list222 li:nth-of-type(2){ background-image: url(../images/step-list4-01.png);}

.direction-guide-content .step-list333 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/rpt_alcohol.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list333 li:nth-of-type(2){ background-image: url(../images/companybarcode.png);}

/*luxury*/
.direction-guide-content .step-list1 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list1-01.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list1 li:nth-of-type(2){ background-image: url(../images/step-list1-02.png);}
.direction-guide-content .step-list1 li:nth-of-type(3){ background-image: url(../images/step-list1-03.png);}
.direction-guide-content .step-list1 li:nth-of-type(4){ background-image: url(../images/step-list1-04.png);}

.direction-guide-content .step-list2 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list2-01.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list2 li:nth-of-type(2){ background-image: url(../images/step-list2-02.png);}
.direction-guide-content .step-list2 li:nth-of-type(3){ background-image: url(../images/step-list2-03.png);}
.direction-guide-content .step-list2 li:nth-of-type(4){ background-image: url(../images/step-list2-04.png);}
.direction-guide-content .step-list2 li:nth-of-type(5){ background-image: url(../images/step-list2-05.png);}
.direction-guide-content .step-list2 li:nth-of-type(6){ background-image: url(../images/step-list2-06.png);}

.direction-guide-content .step-list3 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list3-01.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list3 li:nth-of-type(2){ background-image: url(../images/step-list3-02.png);}

.direction-guide-content .step-list4 li{ padding-left: 35%; text-indent: 0; margin-bottom: 1rem; min-height: 5rem; background: url(../images/step-list4-01.png) no-repeat 0 0/30% auto;}
.direction-guide-content .step-list4 li:nth-of-type(2){ background-image: url(../images/step-list4-02.png);}


/*2016-12-01*/
.block-code{ padding-right: 2rem;}
.icon-input{ position: absolute; top: .9rem; right: .6rem; width: .8rem; height: .8rem; background-repeat: no-repeat; background-position: 0 0; background-size: 100% auto;}
.icon-input img{ width: 100%; height: 100%;}
.icon-right{ background-image: url(../images/icon_right.png);}
.icon-wrong{ background-image: url(../images/icon_wrong.png);}

/*2016-12-09*/
.login{ background: #FFF url(../images/bg.jpg) no-repeat 0 0/100% auto;}
.login section{ margin-top: 60%;}

/*2016-12-12*/
.pay-footer .fr .btn{ float: left; width: auto; min-width: 4em; margin-top: .3rem;}
.pay-total{ float: left; margin-right: .5rem;}
.page-wrap{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;}


/*2017-01-05*/
.icon-check01,.icon-check02,.icon-check03{ position: absolute; right: 0; top: 50%; margin-top: -1.5rem; width: 3rem; height: 3rem; background: url(../images/icon_check_01.png) no-repeat center center/110% auto;}
.icon-check02{ background-image: url(../images/icon_check_02.png);}
.icon-check03{ background-image: url(../images/icon_check_03.png);}

/*2017-01-20*/
.top-msg{ padding: .5rem 1rem; line-height: 1.8; color: #FFF; background: #fc4f73;}
.login section{ margin-top: 65%;}

/**/
.protocal{ background: #FFF url(../images/bg.jpg) no-repeat 0 0/100% auto;}
.protocal section{margin:10px}
.protocal div:nth-of-type(1){position: relative;margin:0px;padding:3px;text-align:right;}
.protocal div:nth-of-type(1) a{margin-right:1em;font-size:.8rem;color:white}
.protocal div:nth-of-type(2){margin:10px;padding:5px;background-color:white;font-size:.8rem}
.protocal div:nth-of-type(3){position: relative;margin:0px;padding:3px;text-align:center;}
.protocal div:nth-of-type(3) button{width:5em;padding:.2em 1em;font-size:.9rem;}
.protocal ul{padding:.5rem;}
.protocal li{margin-bottom:.2rem;}
.protocal li:nth-of-type(1){ margin: 1rem 0rem;font-size:.8rem;font-weight:bold;text-align:center;}
.protocal li .ctx{font-size:.8rem;}


/*2017-03-17*/
.login{margin: 0 0;}
.login section{ background: #FFF url(../images/bg1.jpg) no-repeat 0 0/100% auto;margin: 0 0;padding-top:65%;}

.loginalcohol{margin: 0 0;}
.loginalcohol section{ background: #FFF url(../images/bg_alcohol.jpg) no-repeat 0 0/100% auto;margin: 0 0;padding-top:65%;}


