{% extends 'MirrorWebBundle:Base:base.html.twig' %}
{% block title %}商品信息{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/goodsInfo.css') }}">
{% endblock %}
{% block body %}
    <div id="container">
        <div class="goodsInfo">
            <div class="row">
                <div class="col-xs-12">
                    <div class="goodsImg">

                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="goodsInfoTitle">
                        <p id="name"></p>
                        <div class="goodsInfoPrice">
                            <span id="price"></span><span id="oldPrice"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="buyNum">
                    <span class="numLabel">数量：</span>
                    <div class="numChange">
                        <span onclick="sub()">-</span><span id="number">1</span><span onclick="add()">+</span>
                    </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="goodsInfoBuyButton">
                        <span>总计：</span><span id="allPrice"></span>
                        <button class="btn btn-default btn-block">下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        ajaxAction("get",'/api/order/goods','',false,function(data,textStatus){
            $('#name').html(data.name);
            $('#price').html(data.price);
            $('#oldPrice').html(data.oldPrice);
            $('#allPrice').html(data.price);
            $('.goodsImg').css("background-url:"+data.banner);
        },function(errno,errmsg){

        });

        $('.btn-block').click(function(){
            var allPrice=parseFloat($('#allPrice').html());
            var number=parseFloat($('#number').html());
            var info={};
            info.price=allPrice;
            info.number=number;
            ajaxAction("post",'/api/order/goods',info,false,function(data,textStatus){
                location.href=wxPath('/web/pay/'+data.orderId);
            },function(errno,errmsg){

            });
        });
        function sub(){
            var number=parseFloat($('#number').html());
            var price=parseFloat($('#price').html());
            var allPrice=parseFloat($('#allPrice').html());
            if(number>1){
                $('#number').html(--number);
                $('#allPrice').html((allPrice-price).toFixed(2));
            }
        }
        function add() {
            var number=parseFloat($('#number').html());
            var price=parseFloat($('#price').html());
            var allPrice=parseFloat($('#allPrice').html());
            $('#number').html(++number);
            $('#allPrice').html((allPrice+price).toFixed(2));
        }


    </script>
{% endblock  %}