<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>爱默基因-美肤基因信息采集</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/face.css') }}">
</head>

<body>
<div id="page3" class="page">
    <div class="wrap">
        <div class="logo">
            <img src="{{ asset('/bundles/mirrorweb/images/face_logo.png') }}">
        </div>
        <div class="pannel">
            <header>为了在对您使用本产品的过程中，做到更好的服务，请先关注公众号，感谢您的支持。</header>
            <div class="content">
                <img src="{{ asset('/bundles/mirrorweb/images/qr.png') }}" alt="">
            </div>
            <footer class="text-center">爱默基因（厦门）生物科技有限公司</footer>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
<script src="{{ asset('/bundles/mirrorweb/js/face.js') }}"></script>
</body>

</html>