{% extends 'MirrorWebBundle:Base:base.html.twig' %}
{% block title %}登录页面{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/login.css',null,false,version) }}">
{% endblock %}
{% block body %}
    <div id="container">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 text-center margint3">
                    <div class="logoBox">
                        <img src="{{ asset('/bundles/mirrorweb/images/LOGO.png',null,false,version) }}" alt="">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 margint1">
                    <div class="form-group">
                        <!--<label for="exampleInputName2">Name</label>-->
                        <div class="userInput">
                            <input type="text" class="form-control" id="telephone" placeholder="请输入电话号码">
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="form-group">
                        <!--<label for="exampleInputName2">code</label>-->
                        <div class="codeInput">
                            <span class="codeNum">1234</span><input type="text" class="form-control" id="code" placeholder="请输入验证码"><span class="codeSend"></span><span class="sendSetTimeOut">59</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 text-center margint1">
                    <button type="submit" class="btn btn-default btn-block loginButton">确认提交</button>
                </div>
            </div>
        </div>
        <div class="error">请输入正确验证码</div>
    </div>
{% endblock %}
{% block script %}
    <script>

        var countdown=60;
        function settimes() {
            if (countdown == 0) {
                $('.codeSend').show();
                $('.sendSetTimeOut').hide()
                countdown = 60;
                return;
            } else {
                $('.codeSend').hide();
                $('.sendSetTimeOut').show();
                $('.sendSetTimeOut').html(countdown);
                countdown--;
            }
            setTimeout(function() {
                settimes();
            },1000)
        }



        $('.codeSend').click(function(){
            var telephone=$('#telephone').val();
            if(!(/^1[34578]\d{9}$/.test(telephone))){
                alert('手机号码不对');
                $('#telephone').val('');
                $('#telephone').focus();
                //阴影错误提示
                return;
            }

            ajaxAction("get",'/api/sms/code/'+telephone,'',false,function(data,textStatus){
                settimes();
            },function(errno,errmsg){

            });
        });
        $('.loginButton').click(function(){
            var telephone=$('#telephone').val();
            var code=$('#code').val();
            if(!(/^1[34578]\d{9}$/.test(telephone))){
                alert('手机号码不对');
                $('#telephone').val('');
                $('#telephone').focus();
                //阴影错误提示
                return;
            }
            if(!code||code.length!=4){
                //阴影错误提示
                alert('验证码不对');
                $('#code').val();
                $('#code').focus();
                return;
            }
            var info={};
            info.telephone=telephone;
            info.code=code;
            ajaxAction("post",'/api/user/login',info,false,function(data,textStatus){
                location.href=wxPath('/web/index');
            },function(errno,errmsg){
                //阴影错误提示
            });


        });
    </script>
{% endblock  %}