{% extends 'MirrorWebBundle:Base:base.html.twig' %}
{% block title %}订单列表{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/orderList.css') }}">
{% endblock %}
{% block body %}
    <div id="container">
        <div class="goodsListFilter">
            <span id="priceOrder">产品价格</span><span id="timeOrder">下单时间</span>
        </div>
        <div class="goodsListCon">
            <ul>

            </ul>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        getList('payTime-desc');
        var priceStatus=1;
        var timeStatus=1;
        $('#priceOrder').click(function(){
            if(priceStatus==1){
                getList('price-asc');
                priceStatus=2;
            }else{
                getList('price-desc');
                priceStatus=1;
            }
        });
        $('#timeOrder').click(function(){
            if(timeStatus==1){
                getList('payTime-asc');
                timeStatus=2;
            }else{
                getList('payTime-desc');
                timeStatus=1;
            }
        });
        function getList(orderBy){
            ajaxAction("get",'/api/user/order?orderBy='+orderBy,'',false,function(data,textStatus){
                var dataList = data.list;
                var orderListHtml = '';
                $.each(dataList,function (idx,obj) {
                    orderListHtml += ' <li><span><img src="'+obj.logo+'" alt=""></span><div class="priceTitle"><p>'+obj.name+'</p><span class="downOrderTime">'+formatter(obj.payTime*1000,'YYYY MM DD')+'</span><span class="orderPrice">￥'+obj.price+'</span><a href="'+obj.report+'">下载报表</a></div></li>';
                });
                $('.goodsListCon ul').html(orderListHtml);
            },function(errno,errmsg){
                console.log(errmsg);
            });
        }
    </script>
{% endblock  %}