{% extends 'MirrorWebBundle:Base:base.html.twig' %}
{% block title %}订单列表{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/orderList.css') }}">
{% endblock %}
{% block body %}
    <div id="container">
        <div class="goodsListFilter">
            <span>产品价格</span><span>下单时间</span>
        </div>
        <div class="goodsListCon">
            <ul>
                <li><span>
                    <img src="{{ asset('/bundles/mirrorweb/images/LOGO.png') }}" alt="">
                </span>
                    <div class="priceTitle">
                        <p></p>
                        <span class="downOrderTime"></span>
                        <span class="orderPrice"></span>
                        <a href="javascript:;"></a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        ajaxAction("get",'/api/user/order','',false,function(data,textStatus){
            console.log(data);
            var dataList = data.list;
            var orderListHtml = '';
            $.each(dataList,function (idx,obj) {
                orderListHtml += ' <li><span><img src="'+obj.logo+'" alt=""></span><div class="priceTitle"><p>'+obj.name+'</p><span class="downOrderTime">'+formatter(obj.payTime*1000,'YYYY MM DD')+'</span><span class="productNum">数量：'+obj.number+'</span><span class="orderPrice">￥'+obj.price+'</span><a href="javascript:;">下载报表</a></div></li>';
            });
            $('.goodsListCon ul').html(orderListHtml);
        },function(errno,errmsg){
            console.log(errmsg);
        });
    </script>
{% endblock  %}