{% extends 'MirrorWebBundle:Base:base.html.twig' %}
{% block title %}订单列表{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/orderList.css',null,false,version) }}">
{% endblock %}
{% block body %}
    <div id="container">
        <header>
            <section class="top">
                <div class="top-left">
                    <img src={{ asset('/bundles/mirrorweb/images/logo1.png',null,false,version) }} alt="">
                </div>
                <div class="top-right">
                    <div class="orderInfo">
                        <span>订单数</span><span id="orderCn"></span>
                    </div>
                    <div class="orderInfo">
                        <span>已出报告数</span><span id="reportCn"></span>
                    </div>
                </div>
            </section>
            <section class="tabs">
                <ul>
                    <li class="active" status="2">待完成</li>
                    <li status="3">已完成</li>
                </ul>
            </section>
        </header>
        <main>
            <section class="orderList">
                <ul>

                </ul>
            </section>
        </main>
    </div>
{% endblock %}
{% block script %}
    <script>
        getList(2);
        $('.tabs ul li').click(function(){
            $(this).addClass('active').siblings('li').removeClass('active');
            var status=$(this).attr('status');
            getList(status);
        });
        function getList(status){
            ajaxAction("get",'/api/user/order?status='+status,'',false,function(data,textStatus){
                $('#orderCn').html(data.orderCn);
                $('#reportCn').html(data.reportCn);
                var dataList = data.list;
                var orderListHtmls = '';
                $.each(dataList,function (idx,obj) {
                    var report='';
                    if(obj.report){
                        report='<a class="viewTable" href="'+obj.report+'">下载报表</a>';
                    }

                    orderListHtmls += '<li><h3><span>'+obj.name+'</span><span>检测中</span></h3><div class="orderListInfo"><div class="orderListInfoItem"><span>订单编号&nbsp;&nbsp;:</span><span>1709431115204330</span></div><div class="orderListInfoItem"><span>下单时间&nbsp;&nbsp;:</span><span>'+formatter(obj.payTime*1000,'YYYY MM DD')+'</span></div><div class="orderListInfoItem"><span>价格/数量&nbsp;:</span><span class="orderItemTime">'+obj.price+'/'+obj.number+'</span><span class="viewTable">'+report+'</span></div></div></li>' ;
                });
                $('.orderList ul').html(orderListHtmls);
            },function(errno,errmsg){
                console.log(errmsg);
            });
        }
    </script>
{% endblock  %}